# Python
*.py[cod]
*$py.class
__pycache__/*
*.so
*.egg
*.egg-info/
*.pyc
*.pyo
*.pyd
dist/
build/
*.sqlite3

/dashboard/__pycache__
/dashboard/migrations/__pycache__
/equipment/__pycache__
/equipment/migrations/__pycache__

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Environment
.env
.venv
env/
/venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/


