# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
/venv
.env
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


*.pyc
__pycache__/*
*.sqlite3
/__pycache__/settings.cpython-313.pyc